body {
    font-family: Arial, sans-serif;
    background-color: #114d9baf; /* Cor de fundo azul claro */
    margin: 0;
    padding: 20px;
    color: #333;
}
h1 {
    text-align: center;
    color: #2c3e50;
}
#anuncios {
    margin: 20px 0;
}
.anuncio {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.anuncio h3 {
    margin: 0 0 10px;
    color: #2980b9;
}
.anuncio p {
    margin: 5px 0;
}
form {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="datetime-local"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 5px; /* Reduzir o padding */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding e borda na largura total */
}
textarea {
    height: 60px; /* Ajustar a altura do textarea */
}
button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background-color: #3498db;
}