body {
    font-family: Arial, sans-serif;
    background-color: #1942d6; /* Cor de fundo azul escuro */
    margin: 0;
    padding: 20px;
    color: #fffcfc;
}

#back-button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* o botão fica acima de outros elementos */
    transition: background-color 0.3s ease;
}

#back-button:hover {
    background-color: #ff9129;
    color: #000000;
}

h1 {
    text-align: center;
    color: #f1f2f3;
}

#anuncios {
    margin: 20px 0;
}

#Salvar {
    float: right;
    background-color: green;
}

.anuncio {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.anuncio h3 {
    margin: 0 0 10px;
    color: #2980b9;
}

.anuncio p {
    margin: 5px 0;
}

form {
    background: #fff;
    padding: 15px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 5px; /* Reduzir o padding */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding e borda na largura total */
}

textarea {
    height: 60px; /* Ajustar a altura do textarea */
}

button {
    background-color: #2980b9;
    color: white; /* Definindo a cor do texto como branco */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #3498db;
}

/* Estilo específico para o botão "Salvar" */
#Salvar {
    background-color: #168d1c; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Salvar:hover {
    background-color: #3498db; /* Efeito de hover */
}
