body {
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('imagem.jpg'); 
    background-size: cover; 
    background-position: center; 
    position: relative; 
    margin: 0;
}



#back-button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #dc3545;
    color: #fff;
    border: #fff;
    border-color: floralwhite;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 35em;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

#back-button:hover {
    background-color: #ff9129;
    color: #000000;
}

form {
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
    width: 500;
    flex-direction: column;
    gap: 10px;
}
input {
    margin-bottom: 10px; 
    padding: 10px; 
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(18, 16, 16, 0.993);
    box-sizing: border-box;
}
button {
    padding: 10px; 
    width: 100%; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    box-sizing: border-box;
}
button:hover {
    background-color: #0056b3; 
}
#message {
    margin-top: 10px; 
    color: red; 
}