#logout-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* o botão fica acima de outros elementos */
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #c82333;
}

#anuncios-list {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.anuncio-item {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.anuncio-item h2 {
    margin: 0;
    font-size: 1.5em;
    color: #007bff;
}

.anuncio-item p {
    margin: 5px 0;
    font-size: 1.1em;
}

.anuncio-item p strong {
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1942d6;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 2em;
    color: #fcfbfb; 
    text-shadow: none;
    margin-bottom: 20px;
}
